*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height : 100vh;
    background: linear-gradient(135deg, #bd8be9, #540568);
    padding: 10px;

}
.to-do{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding : 40px 30px 70px;
    border-radius: 20px;
}
.to-do h2{
    color: #876522;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.to-do h2 img{
    width: 100px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ccd0d1;
    border-radius: 12px;
    padding-left: 20px;
    margin-bottom: 25px;
}
#input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;    
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #790690;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 40px;
    border-radius: 50%;
    background-image: url(circle.jpg);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 10px;
    right: 10px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
    
}
ul li.checked::before{
    background-image: url(circleChecked.jpg);
}
ul li span{
    position: absolute;
    right : 0;
    top : 5px;
    width : 40px;
    height: 40px;
    font-size: 22px;
    color : #555;
    line-height: 40px;
    text-align: center;
    border-radius: 13px;
}
ul li span:hover{
    background: #edeef0;
}
